@import "../_variables.scss";
@import "../mixins-and-functions";

.activity {
	display: grid;
	grid-gap: $gap-2x;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	@include media(sm) {
		grid-template-columns: repeat(2, 1fr)
	}
}

.activity__item {
	display: flex;
	align-items: flex-start;
	
	padding: $gap-4x;
	
	background: $activity-block-color;
}

.activity__item-image,
.activity__item-desc {
	display: block;
}

.activity__item-image {
	margin-right: $gap-4x;
}

.activity__item-desc {
	margin-top: $gap-4x;
	
	font-size: var(--step--1);
	color: $activity-text-color;
}
