@import "../_variables.scss";
@import "../mixins.scss";

.content__footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	margin-top: $gap-10x;
	padding: $gap-7x 0;
	
	color: $text-footer-color;
}

.socials-container {
	margin-bottom: $gap-3x;
}
