@import "../_variables.scss";
@import "../mixins-and-functions";

.content__footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	margin-top: $gap-10x;
	padding: $gap-7x 0;
	
	color: $text-footer-color;
}

.socials-container {
	margin-bottom: $gap-3x;
}

.copyrights {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copyrights__item {
	display: block;
	
	&:not(:last-of-type) {
		margin-bottom: $gap-2x;
	}
}
