@import "../_variables.scss";
@import "../mixins.scss";

.header {
	position: fixed;
	width: 100%;
	
	background: $bg-color;
	
	z-index: 999;
}

.content__header {
	display: flex;
	align-items: center;
	
	padding: $gap-5x 0;
	
	border-bottom: 1px solid $gray-200;
}
