@import "../_variables.scss";
@import "../mixins-and-functions";

$logo-width-big: 220px;
$logo-width-small: 200px;

.logo {
	display: flex;
}

.logo__image {
	width: $logo-width-small;
	height: auto;
	
	@include media(lg) {
		width: $logo-width-big;
		height: auto;
	}
}

.logo__link {
	display: inline-flex;
	
	border-bottom: 0;
	
	.logo__image {
		transition: fill 0.1s ease-in-out;
	}
	
	&:hover .logo__image {
		fill: $icon-link-color--hover;
	}
}
