@import "../_variables.scss";
@import "../mixins-and-functions";

$hamburger-icon-size: 25px;

.nav {
	display: flex;
	
	min-height: 50px;
	width: 100%;
	
	@include media(sm) {
		justify-content: center;
		
		min-height: auto;
	}
	
	@include media(md) {
		align-items: center;
	}
}

.menu {
	width: 100%;
	text-align: center;
	
	@include media(md) {
		width: auto;
		margin-left: auto;
	}
}

.menu__button {
	display: block;
	position: absolute;
	top: $gap-8x;
	right: $gap-5x;
	
	padding: $gap-4x;
	
	background: transparent url(../assets/menu-open.svg) no-repeat 50% 50%;
	width: $hamburger-icon-size;
	height: $hamburger-icon-size;
	
	border: 0;
	
	@include media(sm) {
		display: none;
	}
}

.js-menu__button--close {
	background: transparent url(../assets/menu-close.svg) no-repeat 50% 50%;
}

.js-menu__button-name--hidden {
	display: none;
}

.menu__list {
	display: none;
	flex-direction: column;
	align-items: center;
	
	margin: $gap-16x 0 0 0;
	padding: 0;
	
	list-style: none;
	
	@include media(sm) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		
		margin: $gap-12x 0 0 0;
	}
	
	@include media(md) {
		margin: 0;
	}
}

.js-menu__list--open {
	display: flex;
}

.menu__list-item {
	width: 100%;
	
	@include media(sm) {
		width: auto;
	}
}

.menu__list-link {
	display: inline-flex;
	justify-content: center;
	position: relative;
	width: 100%;
	
	padding: $gap-5x;
	
	line-height: $line-height-menu-link;
	border-bottom: 0;
	
	@include media(sm) {
		justify-content: flex-start;
		width: auto;
	}
}

.menu__list-link__text {
	border-bottom: 3px solid;
}
