@import "../_variables.scss";
@import "../mixins-and-functions";

.two-column-section,
.skills-section {
	display: grid;
}

.two-column-section {
	grid-gap: $gap-6x;
	
	@include media(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.skills-section {
	grid-gap: $gap-4x;
	
	//- Compensate heading margin-top
	margin-top: -1rem;
	
	@include media(md) {
		grid-template-columns: repeat(3, 1fr);
	}
}
