@import "../_variables.scss";
@import "../mixins-and-functions";

$skills-margin-top: 16px;

.two-column-section,
.skills-section {
	display: grid;
}

.two-column-section {
	grid-gap: $gap-6x;
	
	@include media(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.skills-section {
	grid-gap: $gap-5x;
	
	//- Compensate heading margin-top
	margin-top: -$skills-margin-top;
	
	@include media(md) {
		grid-template-columns: repeat(3, 1fr);
	}
}
