@import "../_variables.scss";
@import "../mixins-and-functions";

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.socials__item:not(:last-of-type) {
	margin-right: $gap-4x;
}

.socials__item-link {
	display: inline-flex;
	
	padding: $gap-3x;
	
	border-bottom: 0;
}
