---
title: Гайд по веб-доступности
description: Многостраничный сайт с рекомендациями по цифровой доступности для разработчиков и дизайнеров.
stack:
    - Pug
    - SCSS
    - JavaScript
    - Parcel
    - GitHub Pages
layout: project.njk
tags: project
---

<div>Текст со страницы проекта.</div>
