---
title: Гайд по веб-доступности
description: Многостраничный сайт с рекомендациями по цифровой доступности для разработчиков и дизайнеров.
stack:
    - Pug
    - SCSS
    - JavaScript
    - Parcel
    - GitHub Pages
cardColor: primary
cardPreview: guide-preview.png
tags: project
layout: project.njk
---

<div>Текст со страницы проекта.</div>
{# Shortcode #}
{% user "Zach Leatherman", "zachleat" %}
    <p>Zach likes to take long walks on Nebraska beaches.</p>
{% enduser %}
