---
title: Проект "Гайд по доступности"
description: Многостраничный сайт с рекомендациями по цифровой доступности для разработчиков и дизайнеров.
projectName: Гайд по веб-доступности
stack:
    - Pug
    - SCSS
    - JavaScript
    - Parcel
year: 2021
demoLink: https://tatianafokina.github.io/a11y-team-guide/
repoLink: https://github.com/TatianaFokina/a11y-team-guide
cardColor: primary
cardPreview: guide-preview.png
tags: project
layout: project.njk
---

<p>Этот гайд я написала для коллег из JUG Ru Group на основе базовых советов по цифровой доступности из статей, других руководств и собственной практики.</p>
<p>Работала над проектом одна и без макета. Дизайнила в браузере и вдохновлялась другими гайдами по доступности. Иногда заглядывала в Dribbble, но слишком этим не увлекалась.</p>

{% image "./src/projects/a11y-team-guide/images/guides-project-main.png", "fluid-image project__image", "Скриншот главной страницы Гайда. На ней меню с навигацией, основной заголовок страницы, описание проекта и ссылки на Гайд для разработчиков и Гайд для дизайнеров.", 980 %}

{% projectColumn %}
    {% projectDesc "Цели и процесс создания проекта" %}
        <p>Мне хотелось поделиться своими знания о доступности с большей аудиторией. Поэтому я превратила гайд из текстового документа в небольшой сайт. Также мне давно хотелось попробовать сделать цветовые темы на CSS. Небольшой проект, тем более по доступности, — хорошая площадка для таких экспериментов.</p>
        <p>Сначала думала сверстать его как лендинг с отдельными вкладками с гайдами для разработчиков и дизайнеров. Потом поняла, что это неудачная идея для большого текста. Так что выбрала многостраничный формат.</p>
    {% endprojectDesc %}

    {% projectDesc "Выбор стека" %}
        <p>Проект состоит из пары шаблонных страниц. С этим помогает справиться Pug. SCSS выбрала из-за миксинов и глобальных переменных.</p>
        <p>Сначала хотела использовать в качестве сборщика Webpack, но потом передумала. Проект не требует сложной конфигурации. В итоге я остановилась на Parcel. Он простой, быстрый, много полезных фич работают из коробки и его не нужно долго настраивать.</p>
    {% endprojectDesc%}
{% endprojectColumn %}

{% projectDesc "Проблемы, их решение и интересные фичи" %}
    <p>Когда собирала прод-версию проекта, то стандартных возможностей Parcel не хватило. Нужно было разложить файлы по папкам, и в текущей версии сборщика это решается при помощи плагинов. Решение нашла на GitHub. Оно показалось неудобным, но подошло для этого проекта.</p>
    <p>В Pug встретились ограничения в форматировании сниппетов. Не весь код правильно парсился. Не стала подключать плагины, так как тащить лишний код в проект из-за пары примеров кода не хотелось. Решила, что лучше воспользоваться кривым, но работающим нативным костылём препроцессора.</p>
    <p>Из важных доступных фич в проекте есть ссылка «К основному контенту» и поддержка светлой и тёмной тем. Темы написаны на CSS-переменных и на чистом JavaScript. В скрипте добавляется класс для тёмной темы к тегу body, показывается нужный текст и иконка, а выбранная тема сохраняется в localStorage. Дополнительно он определяет выбранную в операционной системе цветовую схему.</p>
    <p>Верстала адаптивно и доступно, поэтому сайт хорошо выглядит на разных размерах экранов, в современных браузерах и его не боятся скринридеры. Тестировала в десктопном и мобильном Chrome 86+ и  Safari 13+, FireFox 84+, Vivaldi 3+ и Edge 88+. От поддержки IE 11 отказалась. Из скринридеров проверяла JAWS в Chrome и Firefox, а также VoiceOver в Safari.</p>
{% endprojectDesc%}

{% image "./src/projects/a11y-team-guide/images/guides-project-features.png", "fluid-image project__image", "Скриншоты сайта с гайдом в двух браузерах: Хроме и Эдже. Также скриншот с отчётом Lighthouse. Метрики производительность, доступность, лучшие практики и SEO набрали по 100 баллов.", 980 %}

{% projectColumn %}
    {% projectDesc "Чему научилась" %}
        <p>Во-первых, узнала, как сверстать переключение тем на CSS-переменных, доступный элемент карточки и ссылку, которая ведёт к основному контенту. Во-вторых, впервые попробовала в качестве сборщика Parcel. Научилась его минимально настраивать и подключать дополнительные плагины.</p>
    {% endprojectDesc%}

    {% projectDesc "Что дальше?" %}
        <p>В планах дополнить советы для разработчиков и дизайнеров и добавить гайд для тестировщиков.</p>
    {% endprojectDesc%}
{% endprojectColumn %}
