---
title: Stylus CSS Grid System
description: Описание проекта #2.
stack:
    - Pug
    - Stylus
    - Bootstrap 4
    - Gulp
    - GitHub Pages
year: 2018
demoLink: https://tatianafokina.github.io/Stylus-CSS-Grid-System/
repoLink: https://github.com/TatianaFokina/Stylus-CSS-Grid-System
cardColor: secondary
cardPreview: css-grid-layout-preview.png
tags: project
layout: project.njk
---
