---
title: Stylus CSS Grid System
description: Описание проекта #2.
stack:
    - Pug
    - Stylus
    - Gulp
    - GitHub Pages
tags: project
cardColor: secondary
cardPreview: css-grid-layout-preview.png
layout: project.njk
---

<div>Текст со страницы проекта.</div>
