---
title: Stylus CSS Grid System
description: Описание проекта #2.
stack:
    - Pug
    - Stylus
    - Gulp
    - GitHub Pages
layout: project.njk
tags: project
---

<div>Текст со страницы проекта.</div>
