// Regular, latin and cyrillic
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("/../../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"),
		url("/../../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff")
}

// Bold, latin and cyrillic
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("/../../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"),
		url("/../../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff")
}
