@import "../_variables.scss";

.visually-hidden {
	position: absolute;
	left: 0;
	padding: 0;
	list-style: none;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.fluid-image {
	display: block;
	max-width: 100%;
	height: auto;
}

.invisible-anchor {
	position: relative;
	top: -$gap-11x;
}

// Skip link
.skip-link {
	position: absolute;
	display: inline-block;
	top: auto;
	left: -999px;
	
	width: 1px;
	height: 1px;
	
	font-size: var(--step--1);
	font-weight: bold;
	color: $text-color;
	
	border-bottom: 0;
	
	z-index: $z-index-2;
	
	&:focus {
		top: 0;
		left: 50%;
		
		width: auto;
		height: auto;
		margin: 0 auto;
		
		transform: translateX(-50%);
	}
}
