@import "../_variables.scss";
@import "../mixins-and-functions";

.visually-hidden {
	position: absolute;
	left: 0;
	padding: 0;
	list-style: none;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.fluid-image {
	display: block;
	max-width: 100%;
	height: auto;
}

.anchor-target {
	position: relative;
	scroll-margin-top: 0;
	
	@include media(md) {
		scroll-margin-top: $gap-31x;
	}
	
	// Fix for hack for anchors links
	&[tabindex] {
		outline: none;
	}
}
