@import "../_variables.scss";

.skills,
.writes {
    margin: 0;
    padding: 0 0 0 $gap-5x;
    
    list-style: none;
}

// Skills list

.skills {
    font-size: $font-size-sm;
}

.skills__item {
    &:not(:last-of-type) {
        padding-bottom: $gap-2x;
    }
    
    list-style-image: url('/images/list-bullet-nut.svg');
}

// Writes list

.writes__item {
    &:not(:last-of-type) {
        padding-bottom: $gap-2x;
    }
    
    list-style-image: url('/images/list-bullet-pen.svg');
}
