@import "../_variables.scss";

$paragraph-margin: 20px;

p {
    margin: $paragraph-margin 0;
    
    font-size: var(--step-0);
    line-height: $line-height-base;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

::selection {
    background: $selection-color;
}
