---
layout: page.njk
permalink: index.html
---

<div class="container">
	<div class="content">
		<div class="invisible-anchor" id="main-content"></div>
		<main class="main">
			<h1 class="visually-hidden">Обо мне, моих навыках, проектах и активностях</h1>

			<div class="two-column-section">
				<div>
					<p>Привет! Меня зовут Таня. Я веб-разработчица из Санкт-Петербурга.</p>
					<p>Мне нравится веб. Люблю учиться, узнавать новое о веб-разработке и приобретать полезные навыки. Главная профессиональная цель — помогать создавать доступные, адаптивные и удобные интерфейсы, которые нравятся людям и которыми хочется пользоваться.</p>
					<p>Пишу и перевожу статьи о доступности в вебе и иногда выступаю с докладами. Также организую петербургский митап о веб-доступности pitera11y__meetup.</p>
				</div>
				<div>
					{% image "./src/pages/images/hero-photo.png", "fluid-image", "Девушка с тёмно-каштановыми короткими волосами и серо-зелёными глазами со слегка повёрнутой вправо головой. Одета в тёмно-синюю, почти чёрную рубашку.", 420 %}
				</div>
			</div>

			<div class="invisible-anchor" id="skills"></div>
			<h2>Навыки 🧠</h2>
			{% include "skills-list.njk" %}

			<div class="invisible-anchor" id="projects"></div>
			<h2>Проекты 🧪</h2>
			{% include "project-cards.njk" %}

			<div class="invisible-anchor" id="mediaLife"></div>
			<h2>Я в телевизоре 🎤</h2>
			<p>Иногда оказываюсь в подкастах и выступаю с докладами угадайте о чём ;-) Один раз вела коллективный аккаунт разработчиков jsunderhood в Твиттере.</p>
			{% include "activity.njk" %}
			<h3>Статьи и переводы</h3>
			<p>Мне нравится делиться знаниями с другими и узнавать новое самой. Поэтому, когда я не пишу код, то перевожу и пишу про доступность и разметку.</p>
			<ul class="writes">
				<li class="writes__item">
					<a href="{{ links.public.articleFirst }}">«Всё, что нужно знать про ARIA Live Regions»</a>.
				</li>
				<li class="writes__item">
					<a href="{{ links.public.articleSecond }}">«Доступность и закон»</a>.
				</li>
				<li class="writes__item">Перевод
					<a href="{{ links.public.articleTranslate }}">«Инклюзивные компоненты: интерфейсы со вкладками»</a> Хейдона Пикеринга.
				</li>
			</ul>
			<p>Ещё больше моих текстов собрано в
				<a href="{{ links.public.linksRepo }}">репозитории на GitHub</a>.
			</p>
			<h3>Pitera11y_meetup</h3>
			<div class="two-column-section">
				<div>
					<p>Или питерали митап, если вы сомневались, как это произносить. Это первый в России митап по веб-доступности. Его аудитория — разработчики, дизайнеры, тестировщики, технические писатели и все-все-все, кто причастен к созданию чего-то в вебе.</p>
					<p>Я, как и другие ребята, ищу спикеров, помогаю в подготовке докладов, договариваюсь с площадками, пишу анонсы и готовлю графику. Из необычного и того, что пока мало кто делает в маленьких IT-сообществах, — добавляю русские субтитры к записям докладов.
						<a href="{{ links.public.pitera11yPlaylist }}">Плейлист с докладами</a> можно посмотреть на канале pitercss_meetup.
					</p>
				</div>
				<div>
					{% image "./src/pages/images/pitera11y-dogs.png", "fluid-image", "Инклюзивные пиксельные корги. Один из них в солнцезащитных очках, второй с повреждённой лапой, третий в повязке на глазе и четвёртый в очках с диоптриями.", 478 %}
				</div>
			</div>

			<div class="invisible-anchor" id="contacts"></div>
			<h2>Контакты 📬</h2>
			<p>Сейчас ищу новую работу. Если хотите увидеть моё резюме, предложить вакансию или просто сказать привет, можете написать на почту <a href="mailto:{{ links.social.email }}">fokinatatian@gmail.com</a>. Если удобнее написать в Telegram, то ищите там <a href="{{ links.social.telegram }}">@fokina_tatiana</a>.</p>
		</main>
	</div>
</div>
