<ul class="activity">
	<li class="activity__item">
		<img class="activity__item-image" src="./images/event-no-logo.svg" role="img" alt="">
		<span class="activity__item-desc-container">
			<a class="activity__link" href="{{ links.public.talk }}">Доклад «Доступные фичи и где они обитают»</a>
			<span class="activity__item-desc">
				Конференция по цифровой доступности,
				<time datetime="2022-01-18 19:30">18 января 2022</time>
			</span>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/web-standards-logo.svg" role="img" alt="">
		<span>
			<a href="{{ links.public.podcastFirst }}">Веб-стандарты, выпуск 180</a>
			<time class="activity__item-desc" datetime="2019-06-17">17 июня 2019</time>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/web-standards-logo.svg" role="img" alt="">
		<span>
			<a href="{{ links.public.podcastSecond }}">Веб-стандарты, выпуск 193</a>
			<time class="activity__item-desc" datetime="2019-09-16">16 сентября 2019</time>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/twitter-logo.svg" role="img" alt="">
		<span>
			<a href="{{ links.public.jsunderhood }}">Неделя в jsunderhood</a>
			<span class="activity__item-desc">
				<time datetime="2019-12-09">9</time>–<time datetime="2019-12-15">15 декабря 2019</time>
			</span>
		</span>
	</li>
</ul>
