<ul class="activity">
	<li class="activity__item">
		<img class="activity__item-image" src="./images/pitera11y-logo.svg" alt="">
		<span>
			<a href="{{ links.public.talk }}" target="_blank" rel="noopener noreferrer">Доклад «Ты ничего не знаешь про alt, %username%»</a>
			<span class="activity__item-desc">Pitera11y_meetup 2, 30 января 2020</span>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/web-standards-logo.svg" alt="">
		<span>
			<a href="{{ links.public.podcastFirst }}" target="_blank" rel="noopener noreferrer">Веб-стандарты, выпуск 180</a>
			<span class="activity__item-desc">17 июня 2019</span>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/web-standards-logo.svg" alt="">
		<span>
			<a href="{{ links.public.podcastSecond }}" target="_blank" rel="noopener noreferrer">Веб-стандарты, выпуск 193</a>
			<span class="activity__item-desc">16 сентября 2019</span>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/twitter-logo.svg" alt="">
		<span>
			<a href="{{ links.public.jsunderhood }}" target="_blank" rel="noopener noreferrer">Неделя в jsunderhood</a>
			<span class="activity__item-desc">9–15 декабря 2019</span>
		</span>
	</li>
</ul>
