<footer class="footer">
	<small>© Фокина Татьяна, 2017–{{ site.currentYear }}</small>
	<small>Репозиторий сайта на <a href="{{ links.copyright.siteRepo}}" target="_blank" rel="noopener noreferrer">GitHub</a>. Разработан на <a href="{{ links.copyright.eleventy}}" target="_blank" rel="noopener noreferrer">11ty</a></small>
</footer>
