<footer class="footer">
	<div class="content">
		<div class="content__footer">
			<div class="socials-container">
				<ul class="socials">
					<li class="socials__item">
						<a class="socials__item-link" href="{{ links.social.twitter }}" target="_blank" rel="noopener noreferrer">
							{% include "../assets/ico-twitter.svg" %}
							<span class="visually-hidden">Твиттер</span>
						</a>
					</li>
					<li class="socials__item">
						<a class="socials__item-link" href="{{ links.social.github }}" target="_blank" rel="noopener noreferrer">
							{% include "../assets/ico-github.svg" %}
							<span class="visually-hidden">Гитхаб</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="copyrights">
				<small class="copyrights__item">© Фокина Татьяна, 2017–{{ site.currentYear }}</small>
				<small class="copyrights__item">Репозиторий сайта на
					<a href="{{ links.copyright.siteRepo }}" target="_blank" rel="noopener noreferrer">GitHub</a>. Разработан на
					<a href="{{ links.copyright.eleventy }}" target="_blank" rel="noopener noreferrer">11ty</a>, иконки с <a href="{{ links.copyright.iconfinder}}" target="_blank" rel="noopener noreferrer">Iconfinder</a>
				</small>
			</div>
		</div>
	</div>
</footer>
