<footer class="footer">
	<div class="content">
		<div class="content__footer">
			<div class="socials-container">
				<ul class="socials">
					<li class="socials__item">
						<a class="socials__item-link" href="{{ links.social.twitter }}" target="_blank" rel="noopener noreferrer">
							<img src="{{ siteLink }}/images/ico-twitter.svg" alt="Твиттер"> </a>
					</li>
					<li class="socials__item">
						<a class="socials__item-link" href="{{ links.social.github }}" target="_blank" rel="noopener noreferrer">
							<img src="{{ siteLink }}/images/ico-github.svg" alt="Гитхаб"> </a>
					</li>
				</ul>
			</div>
			<small>© Фокина Татьяна, 2017–{{ site.currentYear }}</small>
			<div>
				<small>Репозиторий сайта на
					<a href="{{ links.copyright.siteRepo }}" target="_blank" rel="noopener noreferrer">GitHub</a>. Разработан на
					<a href="{{ links.copyright.eleventy }}" target="_blank" rel="noopener noreferrer">11ty</a>
				</small>
			</div>
		</div>
	</div>
</footer>
