<div class="logo">
	<a class="logo__link" href="/">
		<img class="logo__image"
		     src="{{ siteLink }}/images/logo.svg"
		     width="220"
		     height="auto"
		     alt="Фокина Татьяна, HTML-верстальщица"
		>
	</a>
</div>
