{% set menu = [{
	title: "Навыки",
	anchorLink: "/#skills"
},{
	title: "Проекты",
	anchorLink: "/#projects"
},{
	title: "Активности",
	anchorLink: "/#mediaLife"
},{
	title: "Контакты",
	anchorLink: "/#contacts"
}] %}

<nav class="nav">
	{% include "logo.njk" %}

	<div class="menu" aria-live="polite">
		<button class="menu__button" aria-controls="menu" aria-expanded="false" aria-label="Открыть меню"></button>

		<ul class="menu__list" id="menu">
			{% for item in menu %}
				<li class="menu__list-item">
					<a class="menu__list-link" href="{{ item.anchorLink }}">
						<span class="menu__list-link__text">{{ item.title }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>
