{% set menu = [{
	title: "Навыки",
	anchorLink: "/#skills"
},{
	title: "Проекты",
	anchorLink: "/#projects"
},{
	title: "Я в телевизоре",
	anchorLink: "/#mediaLife"
},{
	title: "Контакты",
	anchorLink: "/#contacts"
}] %}

<nav class="nav" aria-live="polite">
	<button class="nav__button nav__button--open" aria-controls="menu">
		<span class="visually-hidden">Открыть меню</span>
		<span class="visually-hidden">Закрыть меню</span>
	</button>

	<ul class="nav__menu" id="menu">
		{% for item in menu %}
			{% if item.url and item.url == page.url %}
				{% set currentSection = true %}
			{% else %}
				{% set currentSection = false %}
			{% endif %}
			<li class="nav__menu-item">
				<a class="nav__menu-item-link {% if currentSection %}nav__menu-item-link--current{% endif %}" href="{{ item.anchorLink }}">
					<span class="nav__menu-item-link-text">{{ item.title }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
