<div class="skills-section">
	<div>
		<h3>Хард-скиллы</h3>
		<ul class="skills">
			<li class="skills__item">HTML5, Pug.</li>
			<li class="skills__item">CSS3, Sass/SCSS/Stylus.</li>
			<li class="skills__item">БЭМ.</li>
			<li class="skills__item">Accessibility.</li>
			<li class="skills__item">JavaScript, jQuery, Handlebars.</li>
			<li class="skills__item">Gulp, Parcel.</li>
			<li class="skills__item">Git.</li>
			<li class="skills__item">Основы TypeScript.</li>
			<li class="skills__item">Новичок в Angular, React и Next.js.</li>
			<li class="skills__item">11ty.</li>
		</ul>
	</div>
	<div>
		<h3>Дополнительно</h3>
		<ul class="skills">
			<li class="skills__item">Основы UX- и IU-дизайна и типографики.</li>
			<li class="skills__item">Растровая и векторная графика.</li>
			<li class="skills__item">Основы SEO.</li>
			<li class="skills__item">Английский — B1, включая технический.</li>
		</ul>
	</div>
	<div>
		<h3>Инструменты</h3>
		<ul class="skills">
			<li class="skills__item">WebStorm, Sublime Text.</li>
			<li class="skills__item">GitHub и GitLab.</li>
			<li class="skills__item">Jira, Trello, Notion.</li>
			<li class="skills__item">Storybook.</li>
			<li class="skills__item">Figma, Zeplin, Avocode, Photoshop.</li>
		</ul>
	</div>
</div>
