{% set hardSkills = [
	"HTML5, Pug, Nunjacks",
	"CSS3, Sass/SCSS/Stylus",
	"БЭМ",
	"Accessibility",
	"Git",
	"Gulp, Parcel",
	"JavaScript (ES6)",
	"Основы TypeScript",
	"Новичок в Angular и React",
	"11ty, Next.js"
] %}

{% set extraSkills = [
	"Основы UX- и UI-дизайна и типографики",
	"Растровая и векторная графика",
	"Основы SEO",
	"Английский — B2, включая технический"
] %}

{% set instruments = [
	"WebStorm, VS Code",
	"GitHub и GitLab",
	"Jira, Trello, Notion",
	"Storybook",
	"Figma, Zeplin, Avocode"
] %}

<div class="skills-section">
	<div>
		<h3>Хард-скиллы</h3>
		<ul class="skills">
			{% for item in hardSkills %}
				<li class="skills__item">{{ item }}.</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h3>Дополнительно</h3>
		<ul class="skills">
			{% for item in extraSkills %}
				<li class="skills__item">{{ item }}.</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h3>Инструменты</h3>
		<ul class="skills">
			{% for item in instruments %}
				<li class="skills__item">{{ item }}.</li>
			{% endfor %}
		</ul>
	</div>
</div>
